<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MahApps.Metro" version="0.10.1.33-ALPHA" targetFramework="net45" />
  <package id="PropertyChanged.Fody" version="1.35.0.0" targetFramework="net45" />
  <package id="reactiveui-core" version="4.3.0" targetFramework="net45" />
  <package id="Rx-Core" version="2.0.21114" targetFramework="net45" />
  <package id="Rx-Interfaces" version="2.0.21114" targetFramework="net45" />
  <package id="Rx-Linq" version="2.0.21114" targetFramework="net45" />
  <package id="Rx-Main" version="2.0.21114" targetFramework="net45" />
  <package id="Rx-PlatformServices" version="2.0.21114" targetFramework="net45" />
</packages>